header {
    background: #77727971;
    padding: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}
  
nav a {
     text-transform: uppercase;
     color: antiquewhite;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
}

nav {

    position: absolute;
    top: 110px;
    right: 80px;
}

.caixa {

    position: relative;
    width: 940px;
    margin: 0 auto;
}
body {
    
    background-color: antiquewhite;
    
}

.produto-descricao {
    color: rgb(0, 0, 0);

}

.produto-preco {
    color: black
}

.produtos {
     width: 940px;
     margin: o auto;
     padding: 30px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

}