header {
    background: #a01818;
    padding: 20px 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}
  
nav a {
     text-transform: uppercase;
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
}

nav {

    position: absolute;
    top: 110px;
    right: 80px;
}

.caixa {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.produtos-descricao {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0);
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;

}

.produtos {
     width: 1900px;
     margin: o auto;
     padding: 30px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(88, 88, 88, 0);
    border-radius: 10px;
}

.nav a:hover {
       color: rgba(129, 129, 129, 0.911);
       text-decoration: underline;
}

.produtos li:hover {
    border-color: rgb(85, 85, 85);
}

.produtos li:active {
    border-color: black
}

.produtos li:hover h2 {
    font-size: 34px;
}

footer {
    text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}
 .copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0
 }